<app-back-to [backToHome]="handleBackToHome">Mes réservations</app-back-to>
<div class="tabs">
  <button (click)="handleChooseTab('Actives')"
          [ngClass]="{'active': currentTab === 'Actives', 'inactive': currentTab !== 'Actives'}">Actives
  </button>
  <button (click)="handleChooseTab('Historique')"
          [ngClass]="{'active': currentTab === 'Historique', 'inactive': currentTab !== 'Historique'}">Historiques
  </button>
  <button (click)="handleChooseTab('Annulées')"
          [ngClass]="{'active': currentTab === 'Annulées', 'inactive': currentTab !== 'Annulées'}">Annulées
  </button>
</div>
<div [ngSwitch]="currentTab">
  <div *ngSwitchCase="'Actives'" class="card-reservation-container">
    <div (click)="handleShowBook(getBookFromId(loan.bookId))" *ngFor="let loan of loans()"
    >
      <div *ngIf="loan.loanStatus === 'ACCEPTED' || loan.loanStatus === 'BORROWED' || loan.loanStatus === 'OVERDUE'"
           class="card-reservation">
        <div class="header-reservation-card"><span>Réservation #{{ getRandomNumber(7842, 9856) }}</span><span
          [ngClass]="{'accepted' : loan.loanStatus === 'ACCEPTED', 'overdue': loan.loanStatus === 'OVERDUE', 'borrowed': loan.loanStatus === 'BORROWED'}"
          class="state-card">{{ getStateLoan(loan.loanStatus) }}</span>
        </div>
        <div class="body-reservation-card">
          <img [src]="getBookImage(books()[loan.bookId].title)" alt="">
          <div class="body-reservation-card-infos">
            <div class="body-reservation-card-infos-title">
              <span style="font-weight: bold; font-size: large;">{{ books()[loan.bookId].title }}</span>
              <span style="color:#BEC1C8;">{{ books()[loan.bookId].author }}</span></div>
            <div style="display: flex; gap: 1rem;">
              <div style="display:flex; flex-direction: column;"><span
                style="color:#BEC1C8;">Date de retrait</span><span
              >{{ getReturnDate(loan) | date:'d MMMM yyyy':'':'fr' }}</span></div>
              <div style="display:flex; flex-direction: column;"><span
                style="color:#BEC1C8;">Durée</span><span>{{ loan.weeks }} semaines</span></div>
            </div>
          </div>
        </div>
        <div class="footer-reservation-card">
          <button class="cancel-card-button">Annuler</button>
          <button class="qr-code-card-button">Voir le QR Code</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'Historique'" class="card-reservation-container">
    <div (click)="handleShowBook(getBookFromId(loan.bookId))" *ngFor="let loan of loans()">
      <div *ngIf="loan.loanStatus === 'RETURNED'" class="card-reservation">
        <div class="header-reservation-card"><span>Réservation #{{ getRandomNumber(2479, 4389) }}</span><span
          class="state-card returned">{{ getStateLoan(loan.loanStatus) }}</span></div>
        <div class="body-reservation-card">
          <img alt="" src="">
          <div class="body-reservation-card-infos">
            <div class="body-reservation-card-infos-title">
              <span style="font-weight: bold; font-size: large;">{{ books()[loan.bookId].title }}</span>
              <span style="color:#BEC1C8;">{{ books()[loan.bookId].author }}</span></div>
            <div style="display: flex; gap: 1rem;">
              <div style="display:flex; flex-direction: column;"><span
                style="color:#BEC1C8;">Date de retrait</span><span
              >{{ getReturnDate(loan) | date:'d MMMM yyyy':'':'fr' }}</span></div>
              <div style="display:flex; flex-direction: column;"><span
                style="color:#BEC1C8;">Durée</span><span>{{ loan.weeks }} semaines</span></div>
            </div>
          </div>
        </div>
        <div class="footer-reservation-card">
          <button class="reserve-again-card-button">Réserver à nouveau</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'Annulées'">
    <div class="reservation-canceled-card">
      <fa-icon [icon]="faCalendar"></fa-icon>
      <h2>Aucune réservation annulée</h2>
      <span>Vous n'avez pas de réservations annulées pour le moment</span>
    </div>
  </div>
</div>
