<app-back-to [backToHome]="handleBackToHome">
  Détails du livre
</app-back-to>
<div class="card-presentation">
  <img [src]="getBookImage(homePage().book!.title)" alt=""/>
  <h2>{{ homePage().book!.title }}</h2>
  <span>par {{ homePage().book!.author }}</span>
  <div class="card-presentation-stars">
    <fa-icon *ngFor="let star of getStarsArray(homePage().book!.rating)" [icon]="faStar"
             style="color:#F6B400;"></fa-icon>
    <fa-icon *ngFor="let star of getEmptyStarsArray(homePage().book!.rating)" [icon]="farStar"
             style="color:#F6B400;"></fa-icon>
    <span>{{ homePage().book!.rating }}</span>
  </div>
</div>
<div class="card-description">
  <h2>Description</h2>
  <p>{{ homePage().book!.description }}</p>
</div>
<div class="card-informations">
  <h2>Informations</h2>
  <div class="card-informations-list">
    <div><span>Disponibilité</span> <span>En stock ({{ homePage().book!.availableCopies }})</span></div>
    <div><span>Catégorie</span> <span>{{ homePage().book!.category }}</span></div>
    <div><span>Pages</span> <span>{{ homePage().book!.pages }}</span></div>
    <div><span>Langue</span> <span>{{ homePage().book!.language }}</span></div>
  </div>
</div>
