<app-back-to [backToHome]="handleBackToHome">Confirmation de réservation
</app-back-to>
<app-card class="order-details">
  <div class="book-details-card">
    <img [src]="getBookImage(homePage().book!.title)" alt="">
    <div>
      <div>{{ homePage().book?.title }}</div>
      <div style="color:gray; margin-top: 0.3rem;">{{ homePage().book?.author }}</div>
      <div style="color:blue; margin-top:1rem">{{ homePage().book?.price }}€ / semaine</div>
    </div>
  </div>
  <div>
    <span>Durée de location</span>
    <div class="duration-slider">
      <div (click)="handleWeekLocationChange(1)" [ngClass]="{'active' :booking().weekLocation === 1}">1 sem.</div>
      <div (click)="handleWeekLocationChange(2)" [ngClass]="{'active' :booking().weekLocation === 2}">2 sem.</div>
      <div (click)="handleWeekLocationChange(3)" [ngClass]="{'active' :booking().weekLocation === 3}">3 sem.</div>
      <div (click)="handleWeekLocationChange(4)" [ngClass]="{'active' :booking().weekLocation === 4}">4 sem.</div>
    </div>
  </div>
  <div class="date-time-picker">
    <span>Date et heure de retrait</span>
    <select (change)="handleDayChange($event)">
      <option *ngFor="let day of days" [value]="day.value">{{ day.display }}</option>
    </select>
    <select (change)="handleTimeChange($event)">
      <option selected value="10:00">10:00</option>
      <option value="12:00">12:00</option>
      <option value="14:00">14:00</option>
      <option value="16:00">16:00</option>
      <option value="18:00">18:00</option>
    </select>
  </div>
</app-card>
<app-card class="order-summary">
  <span>Récapitulatif</span>
  <div><span style="color:gray;">{{ homePage().book?.title }}</span><span>{{ homePage().book?.price }}
    € x {{ booking().weekLocation }} sem</span></div>
  <div style="border-top: 1px solid #c3bebe; padding-top:0.7rem;">
    <span>Total</span><span>{{ (homePage().book!.price * booking().weekLocation).toFixed(2) }}€</span></div>
</app-card>
<app-btn [onClick]="handlePaiement">Procéder au paiement</app-btn>
