<app-back-to [backToHome]="handleBackToHome">
  <span *ngIf="galleryType === 'Popularity'">Les plus populaires</span>
  <span *ngIf="galleryType !== 'Popularity'">Nouvelles sorties</span>
</app-back-to>
<input (input)="OnUserSearch($event)" class="search-bar" placeholder="Rechercher un livre, un auteur ..."/>
<div>
  <h2>Catégories</h2>
  <div class="categories-row">
    <div (click)="filterBooksByCategory(item.id)" *ngFor="let item of categories; trackBy: trackByFn" class="item">
      {{ item.name }}
    </div>
  </div>
</div>
<div class="grid">
  <div (click)="handleShowBook(item.id)" *ngFor="let item of filteredBooks; trackBy: trackByFn" class="card">
    <img alt="" src="">
    <span> {{ item.title }}</span>
    <span style="color:gray; font-size:0.9rem;">{{ item.author }}</span>
    <span><fa-icon [icon]="faStar" style="color:#F6B400;"></fa-icon>
      {{ item.reviewsRate }}</span>
  </div>
</div>
