<app-back-to [backToHome]="handleBackToHome">Mon Profil</app-back-to>
<div class="avatar-card">
  <span class="avatar-card-logo">JP</span>
  <span style="font-weight: bold; font-size: 1.2rem;">Jean Petit</span>
  <span style="font-size:1rem; color: #4B5563;">Membre depuis Mars 2025</span>
  <div class="avatar-card-certified">
    <fa-icon [icon]="faCheckCircle"></fa-icon>
    Compte vérifié
  </div>
</div>
<div class="cards">
  <div class="informations-card">
    <h2>Informations personnelles</h2>
    <div class="cards-featured">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <div>
        <div>Email</div>
        <div>jean.petit&#64;exemple.com</div>
      </div>
    </div>
    <div class="cards-featured">
      <fa-icon [icon]="faPhone"></fa-icon>
      <div>
        <div>Téléphone</div>
        <div>+33 6 12 34 56 78</div>
      </div>
    </div>
    <div class="cards-featured">
      <fa-icon [icon]="faCalendar"></fa-icon>
      <div>
        <div>Date d'inscription</div>
        <div>15 Mars 2025</div>
      </div>
    </div>
  </div>
  <div class="paiement-method-card" style="border-top: 1px solid #E5E7EB;">
    <h2>Mode de paiement</h2>
    <div class="cards-featured">
      <fa-icon [icon]="faCreditCard"></fa-icon>
      <div>
        <span>Carte Visa</span><span>**** **** **** 5678</span>
      </div>
    </div>
  </div>
</div>
<div>
  <h2>Statistiques</h2>
  <div class="cards-stats">
    <div class="cards-stats-bloc"><span>8</span><span>Livres lus</span></div>
    <div class="cards-stats-bloc"><span>3</span><span>En cours</span></div>
    <div class="cards-stats-bloc"><span>12</span><span>Avis publiés</span></div>
  </div>
</div>
<!--<div class="help-card">-->
<!--  <div>-->
<!--    <fa-icon></fa-icon>-->
<!--    <span></span><span></span></div>-->
<!--  <div>-->
<!--    <fa-icon></fa-icon>-->
<!--    <span></span><span></span></div>-->
<!--  <div>-->
<!--    <fa-icon></fa-icon>-->
<!--    <span></span></div>-->
<!--</div>-->
