<main>
  <div class="container">
    <div [ngSwitch]="homePage.page" class="content">
      <app-home *ngSwitchCase="'Accueil'"/>
      <app-library *ngSwitchCase="'Bibliothèque'"/>
      <app-reservations *ngSwitchCase="'Réservations'"/>
      <app-profil *ngSwitchCase="'Profil'"/>
      <app-book-gallery *ngSwitchCase="'Popularity'"/>
      <app-book-gallery *ngSwitchCase="'New'"/>
      <app-book-detail *ngSwitchCase="'BookDetail'"/>
      <app-order-details *ngSwitchCase="'OrderDetails'"></app-order-details>
      <app-paiement *ngSwitchCase="'Paiement'"/>
      <app-confirmation *ngSwitchCase="'Confirmation'"
      />
    </div>
    <app-footer/>
  </div>
</main>

<router-outlet/>
